/* index.css */

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #fdfaf6;
  color: #333;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}



